%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        = image_tag @video.large_cover_url
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: 4.5/5.0
        %p= @video.description
        .actions
          = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default' unless current_user.queued_video?(@video)

= form_for [@video, Review.new] do |f|
  = f.select :rating, options_for_review
  = f.text_area :content
  = f.submit
  = link_to "Cancel", @video
- @reviews.each do |review|
  = review.rating
  = link_to review.user.full_name, review.user
  = review.content